@model IEnumerable<CheckersProject.Data.Game>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>
    <a asp-action="Create" asp-route-userId="@(User.Claims.FirstOrDefault(c => c.Type == "id")?.Value)">Create New Game</a>
</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WhiteUserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BlackUserId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WhiteUserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BlackUserId)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-gameId="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-gameId="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-gameId="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
